* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "NanumGothic", "Manrope", "Helvetica";
}

.nav-container {
    z-index: 99;
    height: 151px;

    background: linear-gradient(180deg, #FFE9D9 0%, #A1EDFD 100%);
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
}

.wrapper {
    margin: 0 auto;
}

.logo {
    padding-left: 100px;
}

.logo_image {
    width: 75px;
    height: 75px;
}

.logotext {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400px;
    padding-left: 10px;
    color: black;
}

.logo a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    font-size: 24px;
}

.nav-items li {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400px;
    list-style: none;
    color: black;
    margin-right: 50px;
}

.active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-top: 2px;

    width: 97px;
    height: 44px;
    

    background: #FFFFFF;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.1);
}

.nav-items li a {
    color: black;
    text-decoration: none;
    top: 54px;
}

.nav-items li:nth-last-of-type(1) {
    margin-right: 100px;
    width: 100px;
}

nav ul {
    display: flex;
    text-decoration: none;
    height: 26px;
}

/* header */
.bg-index {
    background: url('images/bg-shapes-home.svg');
}

.bg-join {
    background: url('')
}

.move {
    position: relative;
    top: 10px;
}

.input-container {
    height: max-content;
}


.input-container h2 {

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 36px;
line-height: 49px;

padding-top: 15px;
margin-bottom: -15px;

color: #000000;


}

.input-container h1 {
font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 87px;
}

h1 #head {
    top: 40px;
}

.input-container p {

width: 187px;
top: 120px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
}

.input-container div #help {
    
    width: 277px;
    height: 51px;
 
}

.input-container input {
    
    padding: 10px 25px;
    width: 70%;
    max-width: 277px;
    height: 51px;
    border-style: none;
    display: flex;


    background: #FFFFFF;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.tab2 {
    padding: 20px;
    display: none;
}

.tab2 input {
    height: 50px;
    width: 100%;
    border-style: none;
    padding: 20px;
    
    display: flex;
    
    background: #FFFFFF;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    margin: 20px 0 0;
}

.tab2 textarea {
    
    width: 100%;
    border-style: none;
    padding: 20px;
    margin: 1px;
    
    display: flex;
    
    background: #FFFFFF;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    
}

.input-container button {
    margin: 20px;
    width: 105px;
    height: 42px;

    color: black !important;
    

    background: #D4FAFF;
    box-shadow: 0px 1px 4px rgba(53, 89, 89, 0.25);
    border-radius: 5px;


    border-style: none;

    font-family: Nanum Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;

}

.enter { transition: transform 0.5s; }

.enter:hover {
    transform: scale(0.95); 
    
}

.invalid-box {
    background: linear-gradient(180deg, #FFFFFF 21.17%, #FFAAAA 333.36%) !important;
    border: 2px solid #FF9999 !important;
    border-style: solid !important;
}

.invalid-box ::placeholder {

    color: #FF9999 !important;
}

.shabbat {
    background: url('images/room_icon.svg') no-repeat;
    width: 116px;
    height: 147px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-size: 127%;
    background-position: top;
    color: #526374;
    transition: transform 0.5s;
}

.shabbat:hover {
    transform: scale(0.95); 
}

.shabbat_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 33px;
    padding: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 100px;
}

.date {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    line-height: 15px;

    position: relative;
    top: 88px;
    left:10px;
}

.time {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    line-height: 15px;

    position: relative;
    top: 57px;
    right:-68px;   
}

.bless {
    width: 148.78px;
    height: 59px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #526374;
    justify-content: center;
    transition: transform 0.5s;
    border: none;
    outline: none !important;
}

.bless_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    position: relative;
    top: 17px;
    overflow:hidden;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bless_normal {
    background: url('images/bless_block.svg') no-repeat;
}

.bless_active {
    background: url('images/bless_active.svg') no-repeat;
}

.bless:hover {
    transform: scale(0.95); 
}

.order {
    position: absolute;
    z-index: 99;
    left: 86%;
    width: 26px;
    height: 26px;
    background: url('images/order_circle.svg') no-repeat;
    box-sizing: border-box;
    -webkit-filter: drop-shadow (0px 3px 5px rgba(0, 0, 0, 0.25));
    filter: drop-shadow (0px 3px 5px rgba(0, 0, 0, 0.25));
}


.order p {
    font-family: Nanum Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    padding: 5px;
}

input:focus {
    outline:none;
    border: 1px solid #99d1ff !important;
}

ul {
    list-style: none;
}

.list li {
    padding: 10px;
    float: left;
}

.listroom li {
    padding: 10px;
    display: inline-flex;
    flex-wrap: wrap;
}

.listroom2 {
    position: relative;
    top: 20px;
}

.listroom2 li {
    padding: 10px;
}

.list_container {
    float: left;
    width: 100%;
    height: 100px;
}

#bless_create_new {
    clear: both;
}

.outline-red {
    border: 2px solid #FF9999 !important;
    border-style: solid !important;
}

.btn-bless {
    position: relative;

}

/* Media query.btn-bless {
    margin: 5px;
    position: relative;
    left: 5%
} */

#room_create_new {clear: both;}

.offscreen {
    position: absolute;
    left: -999em;
}

.bg-bless {

    background: url('images/bless_block_bg.svg') no-repeat;
}

.bg-1 {
    background-repeat: no-repeat;
    
    background-position: 10vh 25% !important;
}

.bg {
    background-repeat: no-repeat;
    background-position: 10vh 25% !important;
    height: 650px;
}


.bg-room {
    background: url('images/room_lib.svg') no-repeat;
}

.button-page {
    border-style: none;
    margin: 5px;
    min-width: 100px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.1);
    display: inline;
    justify-content: center;
    transition: transform 0.5s;
}

.model-custom {
    background: linear-gradient(180deg, rgba(166, 241, 255, 0.71) 50%, rgba(255, 255, 255, 0.71) 102.12%, rgba(63, 76, 79, 0) 146.23%);
    box-shadow: 0px 4px 18px 2px rgba(0, 0, 0, 0.25);
    border-radius: 52px;

}

.text-field {
    width: auto;
    margin: 20px;
    min-height: 100px;

    background: #FFFFFF;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
   

}

#bless_name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;

}

.hebrew {
    text-align: right;
    font-size: 24px;
    font-family: 'Assistant', sans-serif;

}

.english {
    font-size: 24px;
    font-family: Roboto;
}

.modal-title {
    font-size: 30px;
    font-family: Nanum Gothic;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.text-field pre {
    padding: 25px;
     
    overflow:auto;
    white-space: pre-wrap;
}
.button-page:hover {
    transform: scale(0.95);
}

.button-page .active {
    background: #c9e6ec;
}

.activated {
    background: #D5FAFF;
}

.next {
    background: #D4FAFF !important;
}

.delete {
    background:#FFC5C5 !important; 
}

.nextprev {
    width: 105px;
    height: 42px;
    
    box-shadow: 0px 1px 4px rgba(53, 89, 89, 0.25);
    border-radius: 5px;
    border-style: none;
    justify-content: center;
    transition: transform 0.5s;
    
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: black !important;
    margin:  0 30px 30px;
}

.nextprev:hover {
    transform: scale(0.95);
}

.nextprev2 {
    height: 42px;
    padding-left: 15px;
    padding-right: 15px;
    
    
    box-shadow: 0px 1px 4px rgba(53, 89, 89, 0.25);
    border-radius: 5px;
    border-style: none;

    transition: transform 0.5s;
    
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: black !important;
}

.nextprev2:hover {
    transform: scale(0.95);
}

.prev {
    background:#99A8AD;
}

.copy-button {
    background: white;
}

.button-placement {
    position: relative;
    display: flex;
    justify-content: center;   
}

.modal-header {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0px;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 0px;
}

.tab {
    display: none;
  }

.tabdiv {

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    justify-content: center;

    list-style: none;

}

#guest_buttons {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
}

.btn-width {
    width: 130px;
}

.p-5_ {
    padding: 3em;
}

.columns {
    display: flex;
}

.roomtext {
    line-height:5px !important;
}

.roomtext2 {
    line-height:5px !important;
    width: 100% !important;
}

.room_head {
    margin-top: -20px !important;
}

.div-space {
    padding-bottom: 20px;
}

.join_text {
    font-family: Roboto
}

#add_bless {
    margin: 20px;
}

.desktop {
    display: block;
}

/* mobile */
.ham-menu {
    width: 40px;
    border: none;
    margin-right: 10px;
    
}

.hamburger {
    
    height: 22px;
    width: 38px;
    border: none;
    margin-right: 10px;
    position: absolute;
    
    top: 41px;
}

.hamburger { transition: transform 0.5s; }

.ham-close {
  
    background: url('images/close.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 27px;
    width: 27px;
    border: none;
    margin-right: 10px;
    margin-left: 5px;
    position: absolute;
    display: none;
    rotate: 90;
    top: 40px;

}

.ham-close { transition: transform 0.5s; }



.nav-container2 {
    z-index: 99;
    height: 98px;

    background: linear-gradient(180deg, #FFE9D9 0%, #A1EDFD 100%);
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
}

.mobile {
    display: none;
}

@media screen and (max-width: 828px) {
    .desktop { display: none;}

    .mobile {display: block;}
    
    .logo {
        
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        margin: 0px 20px 0px;
        padding-left: 0px;
    }
      
    .logo_image {
        position: relative;
        top: -25px;
        width: 75px;
        height: 75px;
        margin-left: 10px;        
    }

    .logotext {
        position: relative;
        top: 0px;
        font-size: 20px;
        padding: 0px;
        
    }
    
    .nav-mobile {
        position: absolute;
        overflow: hidden;
        width: 200vw;
        height: 0%;
        z-index: 99;
        background: linear-gradient(180deg, #FFE9D9 0%, #A1EDFD 100%);
    }
    
    .nav-items {
        position: fixed;
        padding: 50px;
        
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .nav-items li {
        padding-bottom: 40px;
        
        
    }

    @media screen and (max-width: 560px) {
        /* URL: https://stackoverflow.com/questions/42199911/how-can-i-reorder-html-using-media-queries */
    
        .buttons_text {
            display: flex;
            flex-direction: column;
    
        }
    
        .buttons_text div:first-child {
            order: 1;
        }
        
        .bless {
            width: 100px;
        }
    
        .p-5_ {
            padding: 30px;
        }
    
        .columns {
            display: inline-flex;
        }
        
        .listroom2 {
        padding: 10px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
       
        }
    
    }

}

