* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "NanumGothic", "Manrope", "Helvetica";
}

.nav-container {
    height: 151px;

    background: linear-gradient(180deg, #FFE9D9 0%, #A1EDFD 100%);
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
}

.wrapper {
    margin: 0 auto;
}

.logo {
    padding-left: 100px;
}

.logo_image {
    width: 75px;
    height: 75px;
}

.logotext {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400px;
    padding-left: 10px;
    color: black;
}

.logo a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    font-size: 24px;
}

.nav-items li {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400px;
    list-style: none;
    color: black;
    margin-right: 50px;
}

.active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    padding-top: 2px;

    width: 97px;
    height: 44px;
    

    background: #FFFFFF;
    box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.1);
}

.nav-items li a {
    color: black;
    text-decoration: none;
    top: 54px;
}

.nav-items li:nth-last-of-type(1) {
    margin-right: 100px;
    width: 100px;
}

nav ul {
    display: flex;
    text-decoration: none;
    height: 26px;
}

/* header */
.header-container {
    background: white url('images/bg-shapes-home.svg');
    background-repeat: no-repeat;

    height: calc(100vh - 150px);
    margin: 50px;
}

.input-container {
   
    width: 428px;
    height: 149px;
    

}

.input-container h2 {

font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 36px;
line-height: 49px;

padding-top: 15px;
margin-bottom: -15px;

color: #000000;


}

.input-container h1 {
    

top: 40px;

font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 87px;
}

.input-container p {

width: 187px;
top: 120px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
}

.input-container div #help {
    
    width: 277px;
    height: 51px;
 
}

.input-container input {
    
    padding: 10px 25px;
    width: 277px;
    height: 51px;
    border-style: none;


    background: #FFFFFF;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.input-container button {
    margin: 20px;
    width: 105px;
    height: 42px;

    color: black !important;
    

    background: #D4FAFF;
    box-shadow: 0px 1px 4px rgba(53, 89, 89, 0.25);
    border-radius: 5px;


    border-style: none;

    font-family: Nanum Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;

}

.enter { transition: transform 0.5s; }

.enter:hover {
    transform: scale(0.95); 
    
}

.invalid-box {
    background: linear-gradient(180deg, #FFFFFF 21.17%, #FFAAAA 333.36%) !important;
    border: 2px solid #FF9999 !important;
    border-style: solid !important;
}

.invalid-box ::placeholder {

    color: #FF9999 !important;
}

.shabbat {
    background: url('images/room_icon.svg') no-repeat;
    width: 116px;
    height: 147px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-size: 127%;
    background-position: top;
    color: #526374;
    transition: transform 0.5s;
}

.shabbat:hover {
    transform: scale(0.95); 
}

.shabbat_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 33px;
    text-align: center;
    position: relative;
    top: 100px;
}

.date {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    line-height: 15px;

    position: relative;
    top: 88px;
    left:10px;
}

.time {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    line-height: 15px;

    position: relative;
    top: 57px;
    right:-68px;   
}

.bless {
    width: 148.78px;
    height: 59px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #526374;
    justify-content: center;
    transition: transform 0.5s;
}

.bless_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    position: relative;
    top: 17px;
}

.bless_normal {
    background: url('images/bless_block.svg') no-repeat;
}

.bless_active {
    background: url('images/bless_active.svg') no-repeat;
}

.bless:hover {
    transform: scale(0.95); 
}

.order {
    position: relative;
    left: 86%;
    width: 26px;
    height: 26px;
    background: url('images/order_circle.svg') no-repeat;
    box-sizing: border-box;
    -webkit-filter: drop-shadow (0px 3px 5px rgba(0, 0, 0, 0.25));
    filter: drop-shadow (0px 3px 5px rgba(0, 0, 0, 0.25));
}


.order p {
    font-family: Nanum Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    padding: 5px;
}

input:focus {
    outline:none;
    border: 1px solid #99d1ff !important;
}

ul {
    list-style: none;
}

.list li {
    padding: 10px;
    float: left;
}

.list_container {
    float: left;
    width: 100%;
    height: 100px;
}

.bg-bless {
    background: white url('images/bless_block_bg.svg') no-repeat;
    background-repeat: no-repeat;

    height: calc(100vh - 150px);
    margin: 50px;
}