{% extends 'layout.html' %}
{% block title%}
    Bless Library
{% endblock %}

{% block content %}
<h2>Preset Bless Blocks</h2>
<div>
    <ul>
        {% for bless in genBless %}
        <li>{{ bless.bless_name }}</li>
        {% endfor %}
    </ul>
</div>

<h2>Custom Bless Blocks</h2>
<div>
    <ul>
        {% for bless in userBless %}
        <li>{{ bless.bless_name }}</li>
        {% endfor %}
    </ul>
    <a href="/create-bless" id='newbless' class="btn btn-primary">Create New Bless Block</a>
</div>

<script>
    $(document).ready(function () {
    $('.item').removeClass('active')
    $('#blocks').addClass('active')
})
</script>
{% endblock %}