{% extends "layout.html" %}

{% block title %}

    Join Room

{% endblock %}

{% block content %}
    <!-- form action for index -->
    <form id="join_form" action="/" method="post">
        <!-- If user is logged in, display their display name -->
        <div class="header-container">
            <div class="wrapper">
                <header>

        {% if current_user.is_authenticated %}
        
                    <div class="input-container">
                        <h2>Welcome {{current_user.display_name}},</h2>
                        <h1>Join a room.</h1>
                        <p>Join a friend’s shabbat room to start the fun!</p>
                        <div>
                            <input name=roomcode placeholder="Room Code">
                            <button class='enter' type='submit'>Enter</button>
                        </div>
                    </div>
                
        {% elif current_user.is_anonymous %}
        <!-- Else, let them type their display name -->
        <div class="input-container">
            <h2>Welcome,</h2>
            <h1>Join a room.</h1>
            <p>Join a friend’s shabbat room to start the fun!</p>
            <div>
                <input name=displayname placeholder="Display Name">
                <input name=roomcode placeholder="Room Code">
                <button class='enter' type='submit'>Enter</button>
            </div>
        </div>
        {% endif %}

        </header>
    </div>
    </div>

    </form>


    <!-- add validation features from jquery -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/additional-methods.js"></script>
<script src="static/scripts/validation.js"></script>

<script>
    $(document).ready(function () {
    $('.item').removeClass('active')
    $('#blocks').addClass('active')
})
</script>
{% endblock %}