{% extends "layout.html" %}

{% block title %}
    Room Library
{% endblock %}

{% block content %}

<!-- Show all rooms by user, and give user a way to view the room's data, code, and join room as host -->
<!-- Probably also create room for socket io with the buttons -->
<div class='bg-room'>

    <div class="input-container">
        <h1>Room Library</h1>
        <p>Create a room and host your own Jewish dinner.</p>
        <p>{{ len(user_rooms) }}/10</p>
    </div>

<div>
 <!--room block display  -->
    <ul class='list' id='preset'>
        {% for room in user_rooms %}
        <li>
            <div room-value='{{ room.id }}' class="room_selected shabbat" data-toggle="modal" data-target="#modalPreview">  
                <h2 class="shabbat_header">{{ room.room_name}}  {{ room.id }}</h2>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Modal preview modal -->
<div id="modalPreview" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <!-- Scrollable modal -->
        <div class="modal-content model-custom">
        <form action="/room-library" method="post">
            <div class="modal-header">
                <h4 id="room-title" class="modal-title">Title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div>
                <p id='room-code'>Room Code:</p><button>Copy</button>
                <p id='room-date'>Room Date and time: -/-/- --:-- --</p>
            </div>
            <!-- room code -->
            <div style="display:none">
                <input name="room-id" value="3">
            </div>
            <div class='button-placement'>
                <button id='delete' type='button' class="nextprev delete" data-dismiss="modal">Delete</button>
                <button id='enter' type="submit" class="nextprev next">Enter</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>

</div>


<div id="roomSelect" class="form-group">
    <!-- {% if user_rooms != [] %}
    <div id='show_selection'>
        <select id="room" name='room_id'>   
        {% for room in user_rooms %}
            <option value='{{room.id}}'>

                {{ room.room_name }} {{room.room_code }}
            
            </option>

        {% endfor %}
        </select>
        
    </div>

</div>
    {% endif %} -->

    <button id='preview' type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
    
            <!-- Scrollable modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <h4 id="title"></h4>
                    <p id="date"></p>
                    <p id='code'></p><button type='button' class="btn btn-secondary" id='copy'>Copy</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div id="functions">
                        <button id='enter' type='submit' class="btn btn-primary">Enter</button>
                        <button id='delete' type='button' class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

 
<div class='padded'>
    <a href="/create-room" class="btn btn-primary btn-circle">+</a>
</div>



<script>


$(document).ready(function () {

        $('.room_selected').on('click', function() {
            let current_room = $(this)
            
            let room_data = {'room_id' : $(this).attr('room-value')};

            let json_data = JSON.stringify(room_data)
            
            $.ajax({
                url : '/_load_room_settings',
                type : 'post',
                contentType : "application/json",

                dataType : 'json',
                data : json_data,
                success : function(data) {
                    $('#room-title').html('Room Name: ' + data.name)
                    $('#room-code').html('Room Code: ' + data.code)
                    // $('#code').val() = data.code
                }
            })

            $('#delete').on('click', function() {
                

                $.ajax({
                    url : '/_delete_room',
                    type : 'post',
                    contentType : "application/json",

                    dataType : 'json',
                    data : json_data,
                    
                })

                current_room.slideUp()
            })
        })
        
    })

    $(document).ready( ()=> {

        // doesnt work
        $('#copy').on('click', function() {
            $('#code').val().select;
            document.execCommand('copy');
        })
    });

    $(document).ready(function () {
    $('.item').removeClass('active')
    $('#rooms').addClass('active')
})
</script>


{% endblock %}