{% extends "layout.html" %}

{% block title %}
    Room {{room.room_name}}
{% endblock %}

{% block content %}
<!-- WIP  this is where socketio stuff should shine! -->
    <meta id="display_name" data-name='{{ displayName }}' data-id="{{ room.id }}">
    <div class="input-container">
        <p class="roomtext"> code: {{room.room_code}}</p>
        <h1 class="room_head">{{room.room_name}}</h2>
        <p class="roomtext"> Mode: {{mode}}</p>
        <p class="roomtext">Display-Name: {{display_name}}</p>
        <label><p id="user_connected" display="none"></p></label>
    </div>
    
    
    
    <div class="buttons_text columns">
        {% if mode == 'host' %}
        <div id="blessblocks" style="display:none">
            <ul class='listroom2'>
            {% for bless in blessID %}
            <li>
                <div id="{{ bless.id }}" bless-value='{{ bless.id }}' class="bless bless_normal"><h2 class='bless_title'>{{ bless.bless_name }}</h2></div>
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="buttons_text">
            <div class='text-field' id="placeholder">
                <h3 id="bless_name"></h3>
                
                <pre id="paragraph" class="toggle" display="none"></pre>
                <pre id='hebrew_par' class="hebrew toggle" style="direction:rtl" display="none"></pre>
                <pre id='english_par' class="english toggle" display="none"></pre>
                <pre id='eng_heb_par' class="english toggle" display="none"></pre>
                <pre id='meaning_par' class="english toggle" display="none"></pre>

            </div>

            <div id="guest_buttons" style="display:none">
                <button class="button-page" id='heb'>Hebrew</button>
                <button class="button-page activated" id='eng'>English</button>
                <button class="button-page" id='eng-heb'>Transliteration</button>
                <button class="button-page" id='meaning'>Meaning</button>
            </div>
        </div>
    </div>


    <h3 id="wait"> Waiting... </h3>
    {% if mode == 'host' %}
    <button id="next" style='display:none'>Next</button>
   
    <button id='start'>Start session</button>
    {% endif %}

    

<!-- solved 400 GET error by using a different version of socket.io CDN -->
    <script src="https://cdn.socket.io/socket.io-3.0.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

{% endblock %}