{% extends "layout.html" %}

{% block title %}
    Room Library
{% endblock %}

{% block content %}

<!-- Show all rooms by user, and give user a way to view the room's data, code, and join room as host -->
<!-- Probably also create room for socket io with the buttons -->
<div class='bg-room'>

    <div class="input-container">
        <h1>Room Library</h1>
        <p>Create a room and host your own Jewish dinner.</p>
        <p>{{ len(user_rooms) }}/10</p>
    </div>

<div>

    <ul class='list' id='preset'>
        {% for room in user_rooms %}
        <li>
            <div bless-value='{{ room.id }}' class="shabbat" data-toggle="modal" data-target="#modalPreview">  
                <h2 class="shabbat_header">{{ room.room_name }}</h2>
            </div>
        </li>
        {% endfor %}
    </ul>


<form action="/room-library" method="post">
<div id="roomSelect" class="form-group">
    {% if user_rooms != [] %}
    <div id='show_selection'>
        <select id="room" name='room_id'>   
        {% for room in user_rooms %}
            <option value='{{room.id}}'>

                {{ room.room_name }} {{room.room_code}}
            
            </option>

        {% endfor %}
        </select>
        
    </div>

</div>
    {% endif %}

    <button id='preview' type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
    
            <!-- Scrollable modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <h4 id="title"></h4>
                    <p id="date"></p>
                    <p id='code'></p><button type='button' class="btn btn-secondary" id='copy'>Copy</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div id="functions">
                        <button id='enter' type='submit' class="btn btn-primary">Enter</button>
                        <button id='delete' type='button' class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

 
<div class='padded'>
    <a href="/create-room" class="btn btn-primary btn-circle">+</a>
</div>
</form>


<script>


    $(document).ready( ()=> {
        $('#delete').on('click', function() {
            let js_data = {'room_id' : $('#room').val()}
            $.ajax({
                url : "/_delete_room",
                type : 'get',
                contentType : "application/json",
                dataType : 'json',
                data: js_data
                    
            });
            // reload room list after deletion
            location.reload();
            // this might be unecessary (below code)
            if ($('#room').children('option').length <= 0) {
                $('#show_selection').fadeOut()

            }
        });

        $('#preview').on('click', function() {
            let room_data = {'room_id' : $('#room').val()}
            $.ajax({
                url : '/_load_room_settings',
                type: 'get',
                contentType : 'json',
                dataType : 'json',
                data : room_data,
                success : function(data) {
                    $('#title').html('Room Name: ' + data.name)
                    $('#code').html('Room Code: ' +data.code)
                    $('#code').val() = data.code
                }
            })
        })

        // doesnt work
        $('#copy').on('click', function() {
            $('#code').val().select;
            document.execCommand('copy');
        })
    });

    $(document).ready(function () {
    $('.item').removeClass('active')
    $('#rooms').addClass('active')
})
</script>


{% endblock %}